<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Ajout Participant</title>
</head>
<body>
    <h1 > Ajout d'un participant </h1>
    <form action="#" th:action="@{/add}" th:object="${participant}" method="post">
          <table>
                <tr>
                    <td>Nom</td>
                    <td><input type="text" th:field="*{nom}" /></td>
                    <td th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}">Name Error</td>
                </tr>
                <tr>
                    <td>Prenom:</td>
                    <td><input type="text" th:field="*{prenom}" /></td>
                    <td th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}">Age Error</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" th:field="*{email}" /></td>
                    <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Age Error</td>
                </tr>
                 <tr>
                    <td>Date de naissance:</td>
                    <td><input type="text" th:field="*{datenaiss}" /></td>
                    <td th:if="${#fields.hasErrors('datenaiss')}" th:errors="*{datenaiss}">Age Error</td>
                </tr>
                 <tr>
                    <td>Evenement:</td>
                    <td><select th:field="*{event}"/>
                    <option value=""> Select an event </option>
                    <option th:each="event: ${event}" th:value="${event.getIntitule()}" th:text="${event.getIntitule()}"></option></td>

                </tr>     
          
                
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>    
	</form>
</body>
</html>